@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(31, 31, 31);
}

.container {
  margin-left: 500px;
  margin-top: 80px;
  max-width: 900px;
}

.circle {
  animation: rotation 5s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
