@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: rgb(31, 31, 31);
  }
}

@layer components {
  .container {
    /* margin: 0 auto; */
    position: relative;
    left: 500px;
    max-width: 770px;
    color: white;
    padding-top: 68px;
    padding-bottom: 68px;
  }

  @media screen and (max-width: 1280px) {
    .container {
      margin: 0 auto;
      left: auto;
    }
  }

  .container2 {
    margin: 0 auto;
    position: relative;
    max-width: 1130px;
  }
}

.circle {
  animation: rotation 5s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
